body {
  background-image: url(http://www.gyotakuhawaii.com/images/RepeatingBackground.jpg);
  color: white;
}


.welcome.text {
  color: #ff6600;
  font-size: 27px;
  font-family: "Maiandra GD";
  margin-top: 50px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.desc.text {
  color: white;
  font-size: 14px;
  font-family: "Maiandra GD";
  margin-top: 20px;
  padding-right: 270px;
}

.ui.borderless.topmenu.transparent.menu {
  background-color: yellow;
}


